.login-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
  background: #1d0f0f;
  border-radius: 15px;
}
.login-form form {
  margin-bottom: 15px;
  border-radius: 15px;
  color: tomato;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
  font-size:26px
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 5px;
  background-color: white;
  color:black
}
.btn {        
  font-size: 14px;
  font-weight: bold;
  background-color: tomato;
  color:black;
}

.btn :hover 
{
  background-color: coral !important;
}